.portfolio, .portfolio_app, .routes{
    width: 100%;
    height: 100%;
    position: relative;
}

.side_bar{
    width: 350px;
    height: 100vh;
    border-right: 2px solid rgb(96, 96, 96);
    position: fixed;
}

.main_content{
    margin-left: 350px;
    padding: 20px;
}