.experience-tab, .ex-tab, .exp, .ex-container, .act-ex{
    width: 100%;
    height: 100%;
}

.about_do{
    font-size: 2.7rem;
    display: flex;
    gap: 10px;
    font-weight: 800;
    margin-bottom: 20px;
}

.waht_dev_do{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.waht_dev_do{
    padding: 19px 10px;
}

.dev_image{
    padding: 30px;
}

.get-in{
    padding-right: 40px;
}

.get-in button{
    background: hsl(240, 62%, 72%);
    color: hsl(0, 0%, 100%);
    height: 45px;
    transition: .3s ease;
}

.get-in a{
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.get-in button:hover{
    background: transparent;
    border: 1px solid hsl(240, 62%, 72%);
}

.experience-tab{
    background: hsl(240, 5%, 7%);
    border-radius: 13px;
    margin: 40px 0;
    padding: 30px 0;
}

.exp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.ex-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ex-head h2{
    padding: 10px;
    text-align: center;
}

.ex-img i{
    color: hsl(240, 62%, 72%);
    font-size: 1.3rem;
}

.act-ex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.act-ex h2{
    color: hsl(240, 62%, 72%);
}

@media screen and (max-width:786px) {
    .labot span{
        font-size: .9rem;
    }

    .ex-head h2{
        font-size: 1.4rem;
        text-align: left;
    }

    .exp{
        grid-template-columns: repeat(1, 1fr);
    }
}