.contact-container, .wrapper, .touch, .main-form-dev, .cont,
.left-cont, .right-cont, .right-cont form, .f, .name-email, .name, .email,
.message, .message textarea{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    background: hsl(240, 5%, 7%);
    border-radius: 13px;
}

.dev-cont{
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.touch{
    text-align: center;
}

.touch .tit{
    font-size: 1rem;
}

.touch .big-touch{
    font-size: 2.7rem;
    padding-top: 20px;
}

.cont{
    display: flex;
    gap: 50px;
    align-items: start;
}

.left-cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    border: 1px solid hsla(0, 0%, 80%, 0.491);
    border-radius: 13px;
    padding: 50px;
    position: relative;
}

.ba{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-cont{
    border: 1px solid hsla(0, 0%, 80%, 0.491);
    border-radius: 13px;
    padding: 20px;
}

.right-cont form{
    position: relative;
}

.right-cont .f{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.name-email{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.v{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.name input, .email input{
    width: 95%;
    height: 40px;
    outline: none;
    border: 1px solid hsla(0, 0%, 80%, 0.8);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    position: relative;
    transition: .3s ease;
}

.name label, .email label{
    top: -30px;
    font-size: 1.2rem;
}

.message textarea{
    font-size: 1rem;
    outline: none;
    border: 1px solid hsla(0, 0%, 80%, 0.491);
    border-radius: 4px;
    transition: .3s ease;
}

input:focus, textarea:focus{
    background: hsla(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

.send button{
    background: hsl(240, 62%, 72%);
    color: hsl(0, 0%, 100%);
    height: 45px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .3s ease;
    font-size: 1.1rem;
}

.send button:hover{
    background: transparent;
    border: 1px solid hsl(240, 62%, 72%);
}

@media screen and (max-width:786px) {
    .cont{
        flex-direction: column;
    }

    .touch .big-touch{
        font-size: 1.5rem;
    }

    .left-cont, .right-cont{
        padding: 10px;
    }

    .left-cont, .right-cont{
        width: 100%;
    }

    .name-email{
        grid-template-columns: repeat(1, 1fr);
    }
}