.portfolio_wrapper, .portfolio_page, .portfol_header, .main_portworks, .portfolio,
.port_padd, .port_main, .por_projects, .projects_grid, .projects, .project_content,
.project_content, .proj_img, .project_context, .frame_work, .proj_foot{
    width: 100%;
    height: 100%;
}

.portfolio_wrapper{
    background: hsl(240, 5%, 7%);
    border-radius: 13px;
    margin: 20px 0;
    padding: 30px 0;
}

.portfolio_index{
    padding: 50px;
}

.portfol_header, .project_content, .project_content, .frame_work{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.port_head_main{
    text-align: center;
}

.port_header, .port_head_main{
    font-size: 2rem;
    color: hsl(240, 62%, 72%);
}

.header_line{
    width: 60px;
    height: 3px;
    background: #fff;
}

.main_portworks{
    margin-top: 80px;
}

.por_projects{
    margin-top: 40px;
}

.projects_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.projects{
    border: 1px solid #cccc;
    border-radius: 4px;
    
}

.project_content{
    width: 90%;
    margin:20px auto;
}

.proj_img img{
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 4px;
}

.fram_used{
    color: hsl(0, 0%, 80%);
    font-size: 1rem;
}

.mwork{
    padding: 70px;
    position: relative;
}

.more{
    text-align: center;
}

.more a button{
    background: hsl(240, 62%, 72%);
    transition: .3s ease;
}

.more button:hover{
    background: transparent;
    border: 1px solid hsl(240, 62%, 72%);
}

@media screen and (max-width:786px) {
    .portfolio_index{
        padding: 20px;
    }

    .port_header, .port_head_main{
        font-size: 1.2rem;
    }

    .head_desc{
        font-size: .9rem;
    }

    .projects_grid{
        grid-template-columns: repeat(1, 1fr);
    }
}